/* Dark mode */
@media (prefers-color-scheme: dark) {
    body { background: black; }
    #floating-button-cases { background: rgba(0,0,0,0.5); border: 1px solid rgba(255,255,255,0.1); }
    .black-text, .name { color: white; }
    a:hover { color:white; }
    #bottom-menu { background-color: black; border-top: 1px solid #222; }
    #bottom-menu a { color: white; opacity: 0.45;}
    .back { color: white; }
    .link:hover { color:white !important; }
    p, a, h1 { color: #888; }
    .case { background-color: #1a1a1a; }
}

/* @media (prefers-color-scheme: light) { body { background: white; } } */