/* Mobile styles*/
@media screen and (max-width: 720px) {
    body { font-size: 16px; }
    .about { width: 100%; margin-top: 120px; }
    p { line-height: 20px; }
    h1 { width:100%; font-size: 24px; }
    .question { font-size: 16px; margin: 40px 0px -8px 0px; }
    .wrap, .wrap-twitter, #text-container { width: 90%; margin: 0 auto; }
    .wrap-text { width: 100%; margin: 0 auto; }
    center { width: 100%; }
    video, #cartograph-video { width: 100%; }
    .top a { padding: 4px; }
    #bottom-menu { padding: 8px 0 12px 0; }
    #bottom-menu a { font-size: 14px; padding: 0 4px; }
    .name { padding-left: 16px; }
    .back { position: relative; }
    .menu-links { margin-right: 8px; }
    .work-case img, .wrap-text img, .wrap img, .wrap video, #watch_video { width: 100%; margin-top: 0; }
    .work-case { margin-top: 80px; }
    .date { padding-bottom: 0; }
    .mob-margin { padding-left: 16px; } 
    .case { width: 100%; min-height: auto; padding-bottom: 24px; }
    .about img, .case img { width: 100%; margin-bottom: 16px; }
    .case p { margin: 8px 24px; }
    #list { width:100%; margin: 80px 0px;}
    .row p { font-size: 14px; padding-right: 8px;}
    .my-video-animation { width: 100%; left: 0% !important; top: 20% !important; }
    .first, .third, .fourth, .fifth, #placeholder, #my-video { display: none; }
    .first, .fifth { width: 25%; }
    .sixth { min-width: 25%; }

    .column_new {width: 50%;}
    .column_new p:first-child { display: none; }
    /* .column_new:nth-child(2) { display: none; } */

    #floating-button-cases { font-size: 14px; }
}